@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Questrial&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: auto;
  background-color: #0a0a0a;
  color: white;
  overflow-x: hidden;
}

.header-bg-img {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sale-bg-img {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(images/wallpapertip_sale.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sale .countdown > #day:after {
  content: "Days";
  font-size: medium;
}

#sale .countdown > #hour:after {
  content: "Hours";
  font-size: medium;
}

#sale .countdown > #minute:after {
  content: "Minutes";
  font-size: medium;
}

#sale .countdown > #second:after {
  content: "Seconds";
  font-size: medium;
}

.use-case-bg {
  background-color: #0a0a0a;
}

.useCase-image {
  position: relative;
  width: auto;
  transform: rotate(-15deg);
}

.usecase-img-box {
  /* transform: translateX(-50%) rotate(10deg); */
  /* height: auto; */
  /* max-width: fit-content; */
  height: 200px !important;
  width: 200px !important;
}

hr {
  color: white !important;
}

.br-clr {
  border-color: transparent !important;
}
.br-radius {
  border-radius: unset !important;
}
